@import "compass/css3";
@import "compass/utilities";
@import "compass/utilities/general/clearfix";

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
  background: transparent;

  .popup {
    position: relative;
    // margin: 18px;
    // box-shadow: 0 0 18px rgba(0,0,0,0.4);
    background: transparent;
  }

  .content {
    display:table;
    // background: #fff;
    background: transparent;
  }

  .content > p:first-child {
    margin-top: 0;
  }

  .content > p:last-child {
    margin-bottom: 0;
  }

  .close {
    position:absolute;
    top: 5px;
    right: 5px;
    padding: 2px;
    background: #fff;

    img{
      opacity: 0.3;
    }

    :hover img {
      opacity:1.0;
    }
  }

  .loading {
    text-align: center;
  }

  .image {
    text-align: center;
  }

  img {
    border: 0;
    margin: 0;
  }
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index: -100;
}

.facebox_overlayBG {
  background-color: black;
  z-index: 99;
}
